.cardStyles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 5px 5px rgba(46, 61, 73, 0.2);
	border: 3px solid #e8e8e8;
	background-color: #fff;
	border-radius: 24px;
	font-family: 'Montserrat';
	// max-width: 300px;
	height: 165px;
}

// .cardStyles:hover {
// 	box-shadow: 10px 10px rgba(46, 61, 73, 0.2);
// }

.buttonStyles {
	// font-size: 13px;
	position: relative;
	margin: 0 auto;
	// top: 25px;
	bottom: 42px;
	// left: 75px;
	text-align: center;
	color: #fff;
	padding: 12px 6px;
	width: 50%;
	// box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #076666;
	border: 0;
	border-radius: 24px;
	letter-spacing: 1.5px;
	cursor: pointer;
	font-family: 'Fira Sans', sans-serif;
	border: 2px solid #076666;
}

.buttonDisabledStyles {
	opacity: 0.5;
	cursor: not-allowed;
}

.buttonStyles:hover {
	color: #076666;
	background-color: #fff;
	border: 2px solid #076666;
}

.input {
	border: none;
	background-color: #f1f1f1;
	width: 35%;
	border-radius: 10px;
	text-align: center;
	margin-right: 10px;
	height: 50px;
	padding: 0;
}

.input:focus {
	outline: none;
}

.inputMonthly {
	border: none;
	background-color: #f1f1f1;
	width: 25%;
	border-radius: 10px;
	text-align: center;
	margin-right: 10px;
	height: 50px;
	padding: 0;
}

.inputMonthly:focus {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.input[type='number'] {
	-moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.inputMonthly::-webkit-outer-spin-button,
.inputMonthly::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.inputMonthly[type='number'] {
	-moz-appearance: textfield;
}

.cardHeader {
	background-color: #002b4e;
	padding: 8px 12px 8px 12px;
	border-radius: 24px;
	color: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	// border: 3px solid #e8e8e8;
}
