.header {
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 1.5em;
	margin-bottom: 1em;
	color: #4a5d75;
}

.row {
	// margin: 0 auto;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.1em;
	text-align: center;
}

.membersRow {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.1em;
	text-align: center;
}

.membersColumn {
	margin-bottom: 1em;
}

.title {
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #2e68af;
}

.employer {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 1em;
}

.formerEmployer {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	// font-style: italic;
}
