.banner {
	color: #fff;
	padding: 0.5rem;
	justify-content: center;
	background-color: #343a40;
	display: flex;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	&:hover {
		background-color: rgb(133, 43, 43);
		// background-color: #002b4e;
		cursor: pointer;
	}
}

.link:hover {
	text-decoration: none;
}

.image {
	height: 2.5vh;
	align-self: center;
	margin-bottom: 2px;
}
