.button {
	margin-right: 30px;
	min-width: 225px;
	position: relative;
	z-index: 2;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	background-color: #076666;
	border-radius: 24px;
	width: 98%;
	height: 98%;
	z-index: 1;
}

.buttonSpan {
	display: block;
	background-color: #fff;
	padding: 10px 30px;
	// border: 3px solid #076666;
	border-radius: 24px;
	font-family: Fira Sans, sans-serif;
	// line-height: 1.5em;
	font-size: 1.1em;
	font-weight: 300;
	// text-transform: uppercase;
	// font-weight: 700;
	color: #4f4f4f;
	text-align: center;
	position: relative;
	-webkit-transform: translateX(0) translateY(0);
	transform: translateX(0) translateY(0);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	z-index: 2;
}

.button:focus {
	outline: none;
}

.active {
	background-color: #076666;
	color: #fff;
}

.inactive {
	background-color: #fff;
}

.buttonSpan.inactive:hover {
	-webkit-transform: translateX(-5px) translateY(-5px);
	transform: translateX(-5px) translateY(-5px);
	// border: 3px solid #076666;
}
